{
    "gt": "{{ gt }}",
    "ocr": "{{ ocr }}",
{% if metrics %}
    "cer": {{ cer|json_float }},
    "wer": {{ wer|json_float }},
{% endif %}
    "n_characters": {{ n_characters }},
    "n_words": {{ n_words }}
}
