{
{% if metrics %}
    {% if cer %}"cer": {{ cer|json_float }},{% endif %}
    {% if wer %}"wer": {{ wer|json_float }},{% endif %}
    {% if fca %}"fca": {{ fca|json_float }},{% endif %}
    {% if n_characters %}"n_characters": {{ n_characters }},{% endif %}
    {% if n_words %}"n_words": {{ n_words }},{% endif %}
{% endif %}
    "gt": "{{ gt }}",
    "ocr": "{{ ocr }}"
}
